<!DOCTYPE html>
<html>
<head>
    
<title>
    Home
</title>
<link rel="stylesheet" type="text/css" href="home.css">
</head>
<body>

<ul class="nav-horizontol">
  <li class="horEle"><a href="#home">Home</a></li>
  <li class="horEle"><a href="#news">Courses</a></li>
  <li class="horEle"><a href="#contact">Discuss</a></li>
  <li class="horEle"><a href="#about">Mentor</a></li>
  <li class="horEle"><a href="#about">Class Courses</a></li>
</ul>
<ul class="nav-Vertical">
    <li class="verEle"><a class="active" href="#home">Contest</a></li>
    <li class="verEle"><a href="#news">HTML</a></li>
    <li class="verEle"><a href="#contact">CSS</a></li>
    <li class="verEle"><a href="#about">Javascript</a></li>
    <li class="verEle"><a href="#about">Light Weight</a></li>
    <li class="verEle"><a href="#about">OOPs</a></li>
    <li class="verEle"><a href="#about">Low level languages</a></li>
    <li class="verEle"><a href="#about">Structural Programming</a></li>
    <li class="verEle"><a href="#about">C</a></li>
    <li class="verEle"><a href="#about">C++</a></li>
    <li class="verEle"><a href="#about">Java</a></li>
    <li class="verEle"><a href="#about">Python</a></li>
    <li class="verEle"><a href="#about">O Level</a></li>
    <li class="verEle"><a href="#about">Ruby</a></li>
    <li class="verEle"><a href="#about">Perl</a></li>
    <li class="verEle"><a href="#about">C#</a></li>
  </ul>

  <div class="pdesign">
    <div class="para">
    <h2 style="color: lightgreen;">Hack The Class</h2>
    <h3>This event is going on for student of class Xth to XIIth</h3>
    <p style="align-items: flex-start;">If you are a developer then you might have experienced a few things in your team… Sometimes it’s difficult for you to make small changes as well so lets dive in 
      You can participate if you have knowledge of any programming language <p> <a href="http://www.hackerrank.com">Join</a></p> </p>
</div>
<div class="para">
  <h2 style="color: lightgreen;">Google STEP Intern Coding Challenge Experience</h2>
  <h3>Intern interview Experience</h3>
  <p style="align-items: flex-start;">Recently Google conducted an online coding round for its step internship in Singapore. About step internship: STEP (Student Training in Engineering Program), formerly known as <p> <a href="https://www.geeksforgeeks.org/google-step-intern-coding-challenge-experience/">Read more</a></p>  </p>
</div>
<div class="para">
  <h2 style="color: lightgreen;">How to download File Using JavaScript/jQuery ?</h2>
  <h3>HTMl/JavaScript</h3>
  <p style="align-items: flex-start;">Suppose you want to download a file when you click on a link. For downloading the file, we mentioned here to implementation as well as  folder structure where you can see the file location. <p> <a href="http://www.hackerrank.com">Read More</a></p> </p>
</div>
<div class="para">
  <h2 style="color: lightgreen;">Gem of City</h2>
  <h3>Inter-School Challenge</h3>
  <p style="align-items: flex-start;">This is Inter Scool Coding challenge, where you will be facing opponents or competitors from different school of your city, Be the champ, make your School proud, Be the Gem.....<p> <a href="http://www.hackerrank.com">Join</a></p> </p>
</div>
  </div>

</body>
</html>
