<!DOCTYPE html>
<html>
<head>
    
<title>
    HTML
</title>
<link rel="stylesheet" type="text/css" href="home.css">
</head>
<body>

<ul class="nav-horizontol">
  <li class="horEle"><a href="#home">Home</a></li>
  <li class="horEle"><a href="#news">Courses</a></li>
  <li class="horEle"><a href="#contact">Discuss</a></li>
  <li class="horEle"><a href="#about">Mentor</a></li>
  <li class="horEle"><a href="#about">Class Courses</a></li>
</ul>
<ul class="nav-Vertical">
    <li class="verEle"><a href="active" href="#home">Contest</a></li>
    <li class="verEle"><a class="active">HTML Home</a></li>
    <li class="verEle"><a href="#contact">HTML editors</a></li>
    <li class="verEle"><a href="#about">HTML elements</a></li>
    <li class="verEle"><a href="#about">Paragraphs</a></li>
    <li class="verEle"><a href="#about">Headings</a></li>
    <li class="verEle"><a href="#about">Anchor Tag</a></li>
    <li class="verEle"><a href="#about">List</a></li>
    <li class="verEle"><a href="#about">Colour</a></li>
    <li class="verEle"><a href="#about">Class</a></li>
    <li class="verEle"><a href="#about">Id</a></li>
    <li class="verEle"><a href="#about">Images</a></li>
    <li class="verEle"><a href="#about">Tables</a></li>
    <li class="verEle"><a href="#about">HTML CSS</a></li>
    <li class="verEle"><a href="#about">HTML responsive</a></li>
    <li class="verEle"><a href="#about">Semantics</a></li>
  </ul>

  <div class="pdesign">
    <div class="para">
    <h2 style="color: lightgreen;">What is HTML?</h2>
    <h3>Hyper Text Markup Language</h3>
    <p style="align-items: flex-start;"> HTML stands for Hyper Text Markup Language. HTML is the standard markup language for creating Web pages. HTML describes the structure of a Web page. HTML consists of a series of elements. HTML elements tell the browser how to display the content.<p> <a href="http://www.hackerrank.com">Join</a></p> </p>
</div>
<div class="para">
<h2 style="color: lightgreen;">HTML History...</h2>
<p>Since the early days of the World Wide Web, there have been many versions of HTML:</p>
<p style="align-items: flex-start;">
  <table>
    <tr>
      <th>Year</th>
      <th>Version</th>
      
    </tr>
    <tr>
      <td>1989</td>
      <td>Tim Berners-Lee invented www</td>
      
      
    </tr>
    <tr>
      <td>1991</td>
      <td> Tim Berners-Lee invented HTML</td>
      
    </tr>
 
    <tr>
      <td>1993</td>
      <td>Dave Raggett drafted HTML+</td>
    </tr>
    <tr>
      <td>1995</td>
      <td>HTML Working Group defined HTML 2.0</td>
    </tr>
    <tr>
      <td>1997</td>
      <td>	W3C Recommendation: HTML 3.2</td>
    </tr>
 
  </table>
  </p>
</div>
<div class="para">
  <h2 style="color: lightgreen;">What is an HTML Element?</h2>
  <i>An HTML element is defined by a start tag, some content, and an end tag:</i>
  <h3><tagname>Content goes here...</tagname></h3>
  <p>The HTML element is everything from the start tag to the end tag:

    <h1>My First Heading</h1>
    <p>My first paragraph.</p></p>
  <p style="align-items: flex-start;"><table>
    <tr>
      <th>Start tag</th>
      <th>Element tag</th>
      <th>End tag</th>
    </tr>
    <tr>
      <td>h1</td>
      <td>My first Heading</td>
      <td>/h1</td>
      
    </tr>
    <tr>
      <td>p</td>
      <td> My first Paragraph</td>
      <td>/p</td>
    </tr>
 
    <tr>
      <td>br</td>
      <td>none</td>
      <td>none</td>
    </tr>
 
  </table>
   </p>
</div>


 

</body
</html>
